body {
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

/* NICKY NAVBAR + PROFIL */

/* NAVBAR */
.navbar {
  background-color: #fafafa;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.nav {
  transition: all 0.4s ease;
  background-color: #fafafa;
  padding-top: 0.25%;
  max-height: 100px;
  padding-left: 14.6%;
  padding-right: 50%;
  position: fixed;
  border-bottom: 0.5px solid #e6e6e6;
  width: 100%;
}

.navbar ul {
  transition: all 0.4s ease;
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.logo1 img {
  transition: all 0.4s ease;
  width: 45%;
  padding-right: 20%;
  border-right: 1px solid black;
}

.logo2 img {
  transition: all 0.4s ease;
  width: 150px;
  margin-left: -40%;
  margin-top: -3%;
}

.logo2 {
  width: 100px;
}

.recherche input {
  transition: all 0.4s ease;
  width: 200px;
  height: 25px;
  margin-left: 0px;
}

.navbar li {
  list-style: none;
}

/* PROFIL */

.profil {
  display: flex;
  flex-direction: row;
  height: 200px;
  padding-top: 150px;
  justify-content: center;
  margin-bottom: 70px;
}

.degrade {
  height: 193px;
  width: 193px;
  border-radius: 50%;
  background: linear-gradient(#00ff55, #33ccff);
  position: relative;
}

.profil img {
  height: 175px;
  border-radius: 50%;
  border: 7px solid white;
  position: absolute;
  top: 2px;
  left: 3px;
}

.informations {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 100px;
  float: left;
  justify-content: space-between;
}

.informations h1 {
  font-weight: lighter;
  margin: 0px;
}

.flex-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.boutons {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  margin-left: 30px;
}

button {
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  font-family: "Roboto";
  font-size: 16px;
  border-radius: 3px;
}

.btn1 {
  width: 120px;
  height: 30px;
  margin-right: 3%;
}

.btn2 {
  width: 35px;
  height: 30px;
  margin-right: 3%;
}

.btn3 {
  width: 35px;
  height: 30px;
}

.follow {
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40%;
  margin-top: 30px;
  width: 400px;
  padding-bottom: 30px;
}

.descriptions {
  font-size: 18px;
  margin-top: 20px;
}

/* SHADD PHOTOS + FOOTER */

.cadrage {
  margin: auto;
  width: 70%;
}

.flexbox-container {
  display: flex;
  /* padding-right: 55%;*/
  justify-content: space-around;
  margin: auto;
  width: 700px;
}

.flexbox-container>div {
  /*padding-left: 9%;*/
  position: relative;
  margin: 10px;
}

.test {
  transition: all 0.3s;
}

.test:hover .logo {
  opacity: 1;
}

.test:hover img {
  filter: opacity(80%);
  filter: brightness(60%);
}

.test:hover {
  transform: scale(1.1, 1.1);
}

.test .logo {
  position: absolute;
  top: 110px;
  left: 105px;
  opacity: 0;
  display: flex;
  height: 35px;
  width: 100px;
  transition: all 0.5s;
}

.white {
  color: white;
  margin-right: 28px;
  font-size: 30px;
}

.flexbox-container .logo i {
  margin: auto;
  height: 100%;
}

.center-footer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.footer p {
  padding-right: 10px;
}

.footer-two {
  font-size: 12px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.footer p:first-child {
  text-indent: 0%;
}

.instagram {
  color: grey;
  text-align: center;
}

.footer p:hover {
  color: rgb(1, 146, 243);
  cursor: pointer;
}

/* modal Gramos */

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background: orange;
  padding: 1em 2em;
  color: white;
  border: 0;
}

.button:hover {
  background: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.go-left {
  position: absolute;
  color: white;
  font-size: 10px;
  top: 300px;
  left: 200px;
}

.go-right {
  position: absolute;
  color: white;
  font-size: 10px;
  top: 300px;
  right: 200px;
}

.modal-content {
  display: flex;
  background-color: #F4F4F4;
  margin: 20vh auto;
  width: 60%;
  height: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: modalopen;
  animation-duration: 1s;
}

.image-modal {
  width: 50%;
  height: auto;
}

.image-modal img {
  height: 100%;
  overflow: hidden;
}

.imageFenetre {
  width: 100%;
}

.comment-modal {
  width: 50%;
}

.fermeFenetre {
  color: #ccc;
  position: absolute;
  right: 3px;
  bottom: 57px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  padding: 0px;
  background-image: url('cross.png');
  background-size: contain;
}

.fermeFenetre:hover, closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.modal-container {
  background-color: white;
  position: fixed;
  margin: -500px auto;
  z-index: 1000;
  border: 1px solid black;
  width: auto;
  height: auto;
  display: flex;
}

.img1 {
  max-height: auto;
}

.comment-modal-user {
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
}

.comment-modal-user img {
  border-radius: 50%;
  vertical-align: middle;
}

.modal-name {
  margin-left: 10px;
  font-weight: 600;
  font-size: 15px;
}

.modal-abonner {
  color: #81ccfd;
  font-size: 15px;
}

.cross {
  float: right;
  margin-left: 125px;
  border: none;
}

.comment-modal-one {
  margin-top: 30px;
  margin-left: 20px;
}

/*table commentaire*/

.tableau{
width: 350px;
height:130px;
overflow: auto;
}

table{
width:340px;
}

.blue{
  background-color: #b3e0fe;
}

.row{
  width:100%;
  font-size: 15px;
  display:flex;
  flex-direction: row;

}

tr {
  height: 30px;
}

.col-1{
  height: 100%;
  margin-right: 5px;
  padding:5px;
  font-weight: bold;
  font-size: 15px;
}

.col-2{
  width:80%;
  height: 100%;
  padding:5px;
  font-size: 15px;
}


/*fin style de table*/

.comment-modal-one a {
  font-weight: 600;
}

.addComment{
  position:relative;
  margin-top: 10px;
  height: 26px;
  width: 363px;
}

.submit{
  height: 30px;
  width: 60px;
  padding:0px;
  font-style: 'Roboto';
  font-size:13px
}




.list-emoji{
  position:absolute;
  top:-32px;
  right:32px;
  display: none;
  width:100px;
  border:1px solid #b3e0fe;
  border-radius: 4px;
  background-color:  #b3e0fe;
  padding:1px 3px 2px 3px;
}

.listEmoji1{
  display:block;
}

.emoji{
  border:none;
  background-color: none;
  padding:0px;
}

.emoji:focus{
  outline-style: none;

}

.modal-end {
  margin-top: 30px;
  margin-left: 20px;
  height:30px;
}



.size{
  font-size:23px;
margin-right: 10px;
}

.modal-icons-1 {
  font-size: 20px;
  margin-right: 10px;
}


.modal-icons {
  font-size: 23px;
}
.modal-icons-2 {
  font-size: 20px;
}

.tae {
  color: green;
}

.button-icons {
  border: none;
}

.number-likes {
  margin-top: 5px;
  margin-bottom:0px;
  font-size: 15px;
}


.number-likes span{
  margin-right: 5px;
}

.modal-date {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 4px;
}

.newComment{
  width:70%;
  height:90%;
  border-radius: 5px;
  border:1px solid grey;
}

input:focus {
  outline-style: none;
}



::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Part Mike */

.btn-icon {
  cursor: pointer;
}

input{
padding-left: 10px;
}
