body {
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

/* NICKY NAVBAR + PROFIL */

/* NAVBAR */

.navbar {
  background-color: #fafafa;
	position:fixed;
	z-index: 100;
width:100%;
}

.nav {
  background-color: #fafafa;
  padding-top: 0.25%;
  padding-left: 14.6%;
  padding-right: 50%;
  position: fixed;
	border-bottom: 0.5px solid #e6e6e6;
  width:100%;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  width:400px;
}

.logo1 img {
  width: 45%;
  padding-right: 20%;
  border-right: 1px solid black;
}

.logo2 img {
  width: 150px;
  margin-left: -40%;
  margin-top: -3%;
}
.logo2{
  width:100px;
}
.recherche input {
  width: 200px;
  height: 25px;
  margin-left:0px;
}

.navbar li {
  list-style: none;
}

/* PROFIL */

.profil {
  display:flex;
  flex-direction: row;
  height:200px;
  padding-top: 150px;
  justify-content: center;
  margin-bottom: 70px;
}

.degrade{
height: 193px;
width:193px;
border-radius:50%;
background: linear-gradient(#00ff55, #33ccff);
position:relative;
}


.profil img {
  height: 175px;
  border-radius: 50%;
  border: 7px solid white;
  position: absolute;
    top: 2px;
    left: 3px;
}

.informations {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left:100px;
  float: left;
  justify-content: space-between;

}

.informations h1 {
  font-weight: lighter;
margin:0px;
}

.flex-info{
display:flex;
flex-direction: row;
margin-top: 20px;
}

.boutons {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  margin-left: 30px;

}

button{
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  font-family: "Roboto";
  font-size: 16px;
    border-radius: 3px;
}

.btn1 {
  width: 120px;
  height: 30px;
  margin-right: 3%;

}

.btn2 {
  width: 35px;
  height: 30px;

  margin-right: 3%;
}

.btn3 {
  width: 35px;
  height: 30px;

}

.follow {
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40%;
  margin-top: 30px;
  width:400px;
  padding-bottom: 30px;
}

.descriptions {
  font-size: 18px;
  margin-top: 20px;
}

/* SHADD PHOTOS + FOOTER */

.cadrage {
  margin:auto;

}

.flexbox-container {
  display: flex;
/* padding-right: 55%;*/
	justify-content: space-around;
	margin:auto;
  width:700px;
}

.flexbox-container>div {
  /*padding-left: 9%;*/
  position: relative;
	margin:10px;
}

.test {
  transition: all 0.3s;
}

.test:hover .logo {
  opacity: 1;
}
.test:hover img{
	filter: opacity(80%);
  filter: brightness(60%);
}
.test:hover {
  transform: scale(1.1, 1.1);
}

.test .logo {
  position: absolute;
  top: 110px;
  left:105px;
  opacity: 0;
  display: flex;
  height: 35px;
  width: 100px;
  transition: all 0.5s;
}
.white{
	color:white;
	margin-right: 28px;
	font-size: 30px;
}


.flexbox-container .logo i {
  margin: auto;
  height: 100%;
}

.center-footer{
display:flex;
flex-direction: column;
margin-top: 40px;
margin-bottom: 40px;
}


.footer {
  display: flex;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
	justify-content: center;

}
.footer p{
padding-right:10px;
}

.footer-two {
  font-size: 12px;
  display: flex;
  font-family: 'Roboto', sans-serif;
	justify-content: center;
}


.instagram {
  color: grey;
  text-align: center;
}
